<% if (user != '') { %>
<h1>Welcome, <%= user.name %></h1>
<% } %>

<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Favorite Recipes</h2>
        <a href="/favorite-recipes" class="ms-auto">View More</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

    </div>
</section>

<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Submitted Recipes</h2>
        <a href="/submitted-recipes" class="ms-auto">View More</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">


    </div>
</section>